@import "tailwindcss";
@import "@heroui/styles";

@source "../**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

.swiper {
  overflow: hidden;
  max-width: 730px;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  position: relative;
  border-radius: 20px;
}
